body {
  margin: 0;
  padding: 0;
  background: rgb(175, 175, 175);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  font-family: Arial, sans-serif;
}
.contenedor {
  text-align: center;
  position: relative;
  width: 100%;
  padding: 20px;
}

.imagen {
  width: 35vw;
  max-width: 350px;
  opacity: 1;
  transition: all 1s ease;
}
.name {
  font-size: 4rem;
  margin-top: 10px;
  opacity: 1;
  transition: all 1s ease;
  color: white;
  position: relative;
  z-index: 2;
}

.saludo {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12px;
  font-size: 2.5rem;
  font-weight: bold;
  opacity: 0;
  transition: all 1s ease;
  margin-bottom: 2px;
}

.credito {
  font-size: 1rem;
  margin-top: 10px;
  opacity: 1;
  transition: all 1s ease;
  color: white;
  position: relative;
  z-index: 2;
}

.botones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  opacity: 0;
  transition: opacity 1s ease;
}

.boton-inicio,
.boton-registro {
  display: inline-block;
  padding: 15px 80px;
  background-color: #3bb273;
  color: rgb(231, 229, 229);
  text-decoration: none;
  border-radius: 20px;
  font-size: 25px;
  transition: background 0.3s ease;
}
.boton-inicio:hover,
.boton-registro:hover {
  background-color: #24774b;
  cursor: pointer;

}

.final .imagen {
  width: 35vw;
  margin-top: -10vh;
}
.final .name {
  opacity: 0;
  margin-top: -20px;
}

.final .credito {
  opacity: 0;
  margin-top: -20px;
}

.final .botones {
  opacity: 1;
}

.final .saludo {
  opacity: 1;
  margin-top: 10px;
}
@media (max-width: 600px) {
  .name {
    font-size: 2.5rem;
  }

  .saludo {
    font-size: 1.8rem;
    margin-top: 8px;
  }

  .credito {
    font-size: 0.9rem;
  }

  .botones {
    gap: 20px;
  }

  .boton-inicio,
  .boton-registro {
    padding: 10px 30px;
    font-size: 16px;
  }

  .imagen {
    width: 100vw;
    max-width: 300px;
  }
}
@media (max-width: 1024px) {
  .name {
    font-size: 3rem;
  }

  .saludo {
    font-size: 2rem;
  }

  .botones {
    gap: 25px;
  }

  .imagen {
    width: 40vw;
    max-width: 300px;
  }

  .boton-inicio,
  .boton-registro {
    padding: 14px 60px;
    font-size: 22px;
  }
}