html, body {
    height: 100%;
}
body{
    background-image: url(../Imagenes/FondoC.png);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
}
.back{
    background-color: rgb(107, 103, 103, 70%);
    border-style: solid;
    border-color: black;
    border-radius: 25%;
    padding: 2%;
    margin-left: -50%;
}

.creditos-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}

.integrante {
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    color: white;
}

.nombrev{
    color: white;
}

.integrante img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid black;
    object-fit: cover;
    color: whi;
}

.integrante:hover {
    transform: scale(1.1);
    background:  var(--color);
    color: #000;
    box-shadow: 0 0 5px var(--color),
                    0 0 50px var(--color),
                        0 0 75px var(--color),
                    0 0 100px var(--color);
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    background-color: white;
    color: black;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
}

.close {
    float: right;
    font-size: 28px;
    cursor: pointer;
}