header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    background-color: #738CA6;
    padding: 0 40px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 1.2);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
body{
    margin: 0;
    background-color: #041D37;
}
@font-face {
    font-family: 'Pixelify Sans';
    src: url(../CSS/Fonts/Jersey_10/Jersey10-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
.left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left img{
    height: 100px;
}

.center {
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: center;
    text-decoration: none;
}

.center h1 {
    font-family: 'Pixelify Sans';
    font-size: 68px;
    color: #12293B;
    filter: drop-shadow(1px 1px 20px rgb(0, 0, 4));
}

.AP{
    font-family: 'Pixelify Sans';
    color: rgb(18, 41, 59, 50%);
}

.logo {
    height: 100px;
    filter: drop-shadow(1px 1px 20px rgb(0, 0, 4));
}

.right{
    display: flex;
    gap: 20px;
}

.Link {
    text-decoration: none;
    background-color: #FF6B35;   
    color: white;
    border: none;
    padding: 12px 28px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: transform 0.2s, background 0.3s;
}


.Link:hover {
    background-color: rgba(237, 66, 9,0.8);
    transform: scale(1.05);
}

/* SIDEBAR */
.sidebar {
    position: fixed;
    top: 150px; /* debajo del header */
    left: 0;
    width: 230px;
    height: calc(100% - 150px);
    background-color: #0A2E4A;
    padding-top: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
    transform: translateX(0);
    transition: transform 0.3s ease;
    z-index: 100;
}

.sidebar.closed {
    transform: translateX(-100%);
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin: 10px 0;
}

.sidebar a {
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    color: #fff;
    font-family: 'Pixelify Sans';
    font-size: 18px;
    transition: background 0.3s;
}

.sidebar a:hover,
.sidebar .active a {
    background-color: #FF6B35;
}

/* CONTENIDO PRINCIPAL */
main {
    margin-left: 20px;
    padding: 20px;
    color: white;
    font-family: 'Pixelify Sans';
    transition: margin-left 0.3s ease;
}

/* Ajuste visual cuando el sidebar está abierto */
.sidebar:not(.closed) ~ main {
    margin-left: 250px;
}

/* Ícono del botón */
.Side {
    cursor: pointer;
    transition: transform 0.3s ease;
    height: 80px;
}

.Side:hover {
    transform: scale(1.1);
}
