
footer{
    margin: 0;
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
    background-image: url(../Imagenes/BackgroundFooter.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 1.2);
}

.content{
    background-color: rgba(0, 0, 0, 0.5);
}
.Aling {
    display: flex;
    align-content: center;
    justify-content: center;
}
.BoxC{
    text-align: center;
    margin: 20px;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}
.Letra{
    font-size: 15px;
    text-decoration: none;
}

.ImgFooter{
    height: 18px;
    width: 18px;
}