body{
    background-image: url(../Imagenes/FondoHome.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Game{
    align-content: center;
    text-align: center;
    background: rgba(25, 58, 165, 0.712);
    margin:auto 450px;
}
.Gameinfo{
    background: white;
    margin:auto 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.TextGame{
    margin-top: 20px;
    margin-bottom: 20px;
}