html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../Imagenes/FondoHome.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.boxes {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;        
    margin: 40px auto;              
    padding: 0 5%;                  
    gap: 100px;
}

.Ad1, .Ad2, .Seleccion {
    background-color: #3BB273;
    height: 700px;    
    flex: 1;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 1.2);
}

.Seleccion {
  display: flex;
  flex: 3;
  justify-content: center;  
  align-items: center;      
  flex-direction: column;   
  gap: 20px; 
}

.Seleccion button {
  background-color: #FF6B35;   
  color: white;
  border: none;
  padding: 36px 72px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: transform 0.2s, background 0.3s;
}

.Seleccion button:hover {
  background-color: #e55a25; 
  transform: scale(1.05);      
}

.decay{
  margin: 5%;
  width: 90%;
  height: 95%;
}

.Shop{
  text-decoration: none;
  position: relative;
  padding: 18px 50px;
  font-size: 22px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  background: linear-gradient(135deg, orange,red);
  box-shadow: 0 0 20px rgba(79, 172, 254, 0.8) 0 0 40px rgba(0, 242, 254, 0.6);
  transition: transfrom 0.2 ease;
}

.Shop:hover{
  transform: scale(1.1);
}
.logs{
    background-color: rgb(10, 77, 68);
    width: 40%;
    height: 40%;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
}

.modal-content {
  background: #fff;
  margin: 10% auto;
  padding: 20px;
  width: 50%;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
}
