html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../Imagenes/FondoHome.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.boxes {
    display: flex;
    justify-content: space-between; 
    align-items: flex;        
    margin: 40px auto;              
    padding: 0 5%;                  
    gap: 100px;
}

.Ad1, .Ad2, .Seleccion {
    background-color: #3BB273;
    background-image: url(../Imagenes/Degrades/Negro.jpg);
    height: 700px;
    flex: 1;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 1.2);
}
.Ad1{
  order: 1;
}
.Ad2{
  order: 3;
}
.Seleccion {
  background-image: url(../Imagenes/BackgroundSelection.png);
  display: flex;
  flex: 3;
  justify-content: center;  
  align-items: center;      
  flex-direction: column;   
  gap: 20px;
  order: 2;
  border: solid;
  border-color: #3A4045;
}

.Seleccion button {
  font-family: 'Pixelify Sans';
  background-color: #FF6B35;   
  color: black;
  border: none;
  padding: 36px 72px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 3em;
  font-weight: bold;
  transition: transform 0.2s, background 0.3s;
}

.Seleccion button:hover {
  background-color: #e55a25; 
  transform: scale(1.05);      
}

.decay{
  margin: 5%;
  width: 90%;
  height: 95%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(17, 17, 17, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 9999;
}

.modal-show {
  opacity: 1;
  pointer-events: auto;
}

.modal-container {
  background-image: url(../Imagenes/Degrades/Negro.jpg);
  width: 90vw;
  height: 90vh;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  padding: 20px 40px;
}

.modal-title {
  font-family: 'Pixelify Sans';
  text-align: center;
  font-size: 3rem;
  letter-spacing: 3px;
  color: white;
  margin: 0;
}

.modal-iframe {
  flex: 1;
  width: 100%;
  border: none;
  border-radius: 8px;
  box-shadow: inset 0 0 5px rgba(234, 232, 232, 0.566);
}

.modal-close {
  text-decoration: none;
  color: white;
  background-color: #FF6B35;
  padding: 1em 2em;
  border-radius: 6px;
  align-self: center;
  font-weight: bold;
  transition: background-color .3s, color .3s;
}

.modal-close:hover {
  background: white;
  color: black;
}
@media (max-width: 1024px) {
  .boxes {
    flex-wrap: nowrap;
    align-items: center;
    gap: 40px;
  }

  .Ad1,
  .Ad2 {
    width: 20%;
    height: 300px;
    flex: 0 0 auto;
  }

  .Seleccion {
    flex: 2 1 300px;
    height: 400px;
  }

  .Seleccion button {
    padding: 24px 48px;
    font-size: 2em;
  }
}
@media (max-width: 600px) {
  body {
    background-position: center;
    background-attachment: fixed;
  }

  .boxes {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .Ad1 {
 display: none;    
  }

  .Seleccion {
    width: 90%;
    height: 300px;
    order: 2;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .Ad2 {
    width: 90%;
    height: 200px;
    order: 3;      
  }
  .Seleccion {
    width: 90%;
    height: 300px;
    order: 2;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .Seleccion button {
    font-size: 1.5em;
    padding: 16px 32px;
  }
}