body{
    background: gray, no-repeat;
}
.BarraPrincipal {
    padding: 20px;
    background: rgb(59, 58, 58);
}
.BarraS {
    display: inline-flex;
    margin: 10px;
}
a {
    text-decoration: none;
    color: white;
}