body{
    background: gray;
    margin: 0px;
}
.BarraPrincipal {
    padding: 10px;
    background: rgb(59, 58, 58);
}
.BarraS {
    display: inline-flex;
    margin: 5px;
}
a {
    text-decoration: none;
    color: white;
}