body{
    background: gray;
    margin: 0px;
}
.BarraPrincipal {
    padding: 5px;
    background: rgb(59, 58, 58);
}
.BarraS {
    display: inline-flex;
    margin: 0px;
    margin-right: 200px;
}
a {
    text-decoration: none;
    color: white;
}
.BoxCentral{
    background: rgb(70, 68, 68);
    text-align: center;
    margin: 20px 350px;
}
.Box1{
    display: inline-flex;
    margin-bottom: 20px;
}